@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: transparent !important;
  width: 0px !important;
}

.pac-container,
.pac-item {
  background: #262742 !important;
  padding: 10px 10px;
  color: white !important;
  border: none !important;
  font-family: "Poppins", sans-serif;
}

.pac-item:hover {
  cursor: pointer;
  background: #3a3b65 !important;
}

.pac-item-query {
  color: white !important;
}
